@font-face {
    font-family: "Segoe";
    src: url(./segoe-ui-black-2.woff) format("woff"),
         url(./segoe-ui-black-2.woff2) format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: "Nosifier";
    src: url(./NosiferCaps-Regular.ttf) format("ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Segoe";
    src: url(./Segoe-UI-Bold.woff) format("woff"),
         url(./Segoe-UI-Bold.woff2) format("woff2");
    font-weight: 700;
}
